/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

body {
  margin: 0;
  background: #F2F2F2;
  height: 100vh;
}

.form-control:focus {
  border: none !important;
  outline: 0;
  box-shadow: none !important;
}

.form-control {
  box-shadow: none !important;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

label.inputlabel {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 3px;
  margin-right: 8px;
  font-weight: 400;
  color: #8b8888;
}

.mat-radio-group.form-control{
border: none;
padding-left: 0px;
}